
/*Font*/
@font-face {
  font-family: 'Avenir Next';
  src: url("http://www.yoursite.com/fonts/Avenir_Next.otf"); /* File to be stored at your site */
  }

/*Disabling Horizontal Scroll*/
html, body {
    max-width: 100%  !important;
    overflow-x: hidden !important;
}

/*Left part with the logo*/
#left
{
	height: 95.15vh;
	background-color: #242424;
}

/*Right Part with the Name and the position*/
#right
{


	height: 95.15vh;
	background-color: #242424;
}

/*Section behind each div on the home page*/
.second-right
{
	background-color: white;
}


#second-left
{
	background-color: #FFFFFF;
	border-right: 0.5px solid;
	border-right-color: #E5E5E5;
}

/*Fade In effect*/
@-webkit-keyframes fadeIn 
{ 
	from 
	{ opacity:0; } 
	to 
	{ opacity:1; } 
}
@-moz-keyframes fadeIn 
{ 
	from 
	{ opacity:0; } 
	to 
	{ opacity:1; } 
}
@keyframes fadeIn 
{ 
	from 
	{ opacity:0; } 
	to 
	{ opacity:1; } 
}


/*Name and the position of the main area near the logo*/
#heading 
{
	  margin-top: 50%;
	  color: #FAFAFA;
	  opacity:0;
	  opacity: 1; 
	  animation:fadeIn ease-in 1;
	  animation-fill-mode:forwards;
	  animation-duration: 4s;
}


#post
{
	  margin-top: 50%;
	  color: #FAFAFA;
	  opacity:0;
	  opacity: 1; 
	  animation:fadeIn ease-in 1;
	  animation-fill-mode:forwards;
	  animation-duration: 4s;
}

/*Logo*/
#logo
{
	margin-top: 37%;
}


/*Downward icon for scroll*/
#more
{
	background-color: #242424;
	text-align: center;
	height: 5vh;
	width: 100vw;
}

#navigation
{
	margin-bottom: 0px;
}

/*Header Icon*/
#small-logo
{
	margin-left: 95%;
	width: 30px;
	height: auto;
	display: inline-block;
}

/*All the headings that are centered aligned - About Me, Portfolio and Work Methodology*/
.headings
{
	text-align: center;
	margin-top: 3%;
	font-family: Nunito;
	font-style: bold;
	font-size: 16px;
}


.main-headings
{
	text-align: center;
	margin-top: 6%;
	font-family: Nunito;
	font-weight: 900;
	font-size:20px;
}


/*paragraph style - generic*/
p
{
	width: 60%;
	margin-left: 20%;
	margin-top: 0px;
	font-family: Nunito;
	font-style: normal;

}

/*Image settings with the row*/
.first-row
{
	margin-right: 1%;
}

/*Methodology Picture setting*/
#work
{
	align-self: center;
	margin-top: 2%;
	width: 60%;
	height: auto;
}


#resume-content-heading
{
	text-align: left;
	font-weight: bold;
}

#resume-content-sub
{
	text-align: left;
}

#resume-content-small
{
	text-align: left;
	font-size: 5px;
}

/*Primary button style*/
#primary-css
{
	background-color: #B71132;
	border: none; 
	margin-left: 40%;
	width: 20%;
	height: 5vh;
	margin-bottom: 10vh;
}

/*Hover Image setting*/
.image
{
	filter: grayscale(100%);
}

.image:hover
{
	filter: grayscale(0%);
	
}

/*Project section with the card setting*/
/*First Image setting with margin*/
#project
{
	margin-left: 16%;
}

#project-name
{
	margin-left: 9%;
}

/*Heading and Post Settings*/
h1
{
	font-weight: 350;
	letter-spacing: 1px;
}

small
{
	font-weight: 200;	
	letter-spacing: 2px;
}


/*Logo SVG Animation*/

.MwgOSwBY_0
{
	stroke-dasharray:438 440;
	stroke-dashoffset:439;
	animation:MwgOSwBY_draw 3360ms linear 0ms forwards;
}

.MwgOSwBY_1
{
	stroke-dasharray:586 588;
	stroke-dashoffset:587;
	animation:MwgOSwBY_draw 3360ms linear 40ms forwards;
}

@keyframes MwgOSwBY_draw
{100%
	{
		stroke-dashoffset:0;
	}
}

@keyframes MwgOSwBY_fade
{
0%
	{
		stroke-opacity:1;
	}
94.73684210526316%
	{
		stroke-opacity:1;
	}
100%
	{
		stroke-opacity:0;
	}
}


/*Project Page Label*/
#left-project
{
	height: 50.15vh;
	background-color: #242424;
	align-items: center;
	text-align: center;
}

#project-heading
{
	text-align: center;
	padding-top: 12%;
	font-weight: 400;
	font-size:30px;
	color: #FAFAFA;
	letter-spacing: 3px;
}

#para-format
{
	margin-top: 3%;
	font-family: Nunito;
	font-style: normal;

}

#tag-line
{
	text-align: center;
	color: #FAFAFA;
}

/*
Listing element section in the Highlights*/
#facts-li
{
	padding-bottom: 1%;
	margin-left: 0%;
	font-family: Nunito;
	font-style: normal;
}

/*
#right-li
{
	padding-bottom: 1%;
	margin-left: 20%;
	font-family: Nunito;
	font-style: normal;
}
*/

/*Problem and Solution paragraph setting*/
#problem-para
{
	width: 98%;
	margin-left: 0%;
	font-family: Nunito;
	font-style: normal;

}

/*Image setting*/
#market-segment
{
	width: 50%;
	height: auto;
	margin-left: 23%;
}

#market-segment-1
{
	width: 70%;
	height: auto;
	margin-left: 15%;
}



/*#challenge
{
	width: 150%;
	height: auto;
}*/

/*Image setting, tribe project*/
#tribe
{
	margin-left: 5%;
	width: 90%;
	height: auto;
}


/*#main-container
{
	display: inline-block;
}*/


/*Final Design Picture for FinGo Parter*/
#right-picture-fingo
{
	width: 100%;
	height: auto;
	margin-left: 0;
	margin-bottom: 10%;
}

/*Final Section Setting*/
#left-para
{
	width: 70%;
	margin-left: 25%;
}

#left-para-second
{
	margin-left: 25%;
	width: 70%;
}

/*Media Setting for iPad*/
@media (max-width: 768px)
{


	#left-para
	{
		width:60%;
		margin-left:25%;
	    margin-top:0px;
	    font-family: Nunito;
	    font-style: normal
	}

	#right-picture
	{
		width: 100%;
		height: 100%;
		margin-right: 30%;
		margin-top: 5%;
	}

	#left-para-second
	{
		margin-top: 5%;
		width: 50vh;
		margin-left: 25%;
	}

	#heading 
	{
		margin-top: 100%;
		padding-top: 20%;
		color: #FAFAFA;
		opacity:0;
		opacity: 1; 
		animation: fadeIn ease-in 1;
		animation-fill-mode:forwards;
		animation-duration: 4s;
	}


	#post
	{
		margin-top: 100%;
		color: #FAFAFA;
		opacity:0;
		opacity: 1; 
		animation: fadeIn ease-in 1;
		animation-fill-mode:forwards;
		animation-duration: 4s;
	}

	#logo
	{
		margin-top: 100%;
	}

	.image
	{
		width: 95%;
	}

	#project-name
	{
		margin-left: 8%;
	}

	#project-heading
	{
		/*text-align: center;*/
		padding-top: 30%;
		/*font-weight: 400;
		font-size:30px;
		color: #FAFAFA;
		letter-spacing: 3px;*/
	}

	#right-picture-fingo
	{
		margin-right: 50%;
	}

}


/*Screen setting for mobile*/
@media (max-width: 599px) 
{


	#right
	{
		height: 14vh;
	}

	#left
	{
		height: 85vh;
	}

	#heading 
	{
		padding-top: 0;
		margin-top:0;
		font-size: 20px;
		text-align: center;
	}

	#post
	{
		margin-left: 10%;
		font-size: 12px;
		text-align: center;
		height: auto;
	}

	#logo
	{
		margin-top: 50%;
		margin-right: 12%;
		width: 75%;
	}

	#more
	{
		visibility: hidden;
	}

	#more-icon
	{
		visibility: hidden;
	}

	.image
	{
		width: 80%;
		height: auto;
	}

	#project-name
	{

	margin-left: 0;

	}

	#project
	{
		margin-left: 0;
	}

	#work-content
	{
		text-align: center;

	}

	#primary-css
	{
		background-color: #B71132;
		border: none; 
		width: 50%;
		margin-left: 25%;

	}

	.name
	{
		width: 0;
	}

	#problem-para
	{
		text-align: center;
	}

	#para-format
	{
		text-align: center;
	}

	#left-para
	{
		width:100%;
		margin-left:0px;
	    margin-top:0px;
	    font-family: Nunito;
	    font-style: normal
	}

	#left-para-second
	{
		width:100%;
		margin-left:0px;
	    margin-top:0px;
	    font-family: Nunito;
	    font-style: normal
	}

	#right-picture
	{
		width: 90%;
		height: auto;
		margin-right: 5%;
	}

	#project-heading
	{
		font-size: 20px;
	}

	#tag-line
	{
		font-size: 12px;
		margin-left: 2%;
	}

	#left-project
	{
		vertical-align: middle;
	}

}

